* {
  -webkit-print-color-adjust: exact !important;
  print-color-adjust: exact !important;
}

@media print {
  body * {
    visibility: hidden;
  }

  #ticket,
  #ticket * {
    visibility: visible;
  }

  #ticket {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
}
