.Link:hover {
  text-decoration: underline !important;
}

.bg-teal{
  background-color: #F0FDF4;
  border: #BBF7D0 solid 1px
}

.bg-warning-50{
  background-color: #fff3cd;
  border: #f5de94 solid 1px
}