body{
  background-color: #f8f9fa;
}

.navbar {
  position: fixed;
  z-index: 999;
  top: 0;
  width: 100%;
}

.footer {
  position: fixed;
  z-index: 999;
  bottom: 0;
  width: 100%;
}

/* 
.transition-all {
  transition: all 0.3s ease-in-out;
}

.sidebar-show {
  transform: translateX(0);
}

.sidebar-hide {
  transform: translateX(-250px); 
}
*/
