body{
  background-color: #f8f9fa;
}

.navbar {
  position: fixed;
  z-index: 999;
  top: 0;
  width: 100%;
}

.footer {
  position: fixed;
  z-index: 999;
  bottom: 0;
  width: 100%;
}

.toast{
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 1055;
}